.img-bg {
  background-image: url("https://picsum.photos/seed/1/1920/1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 130%;
  top: -15%;
  transform: translateY(0);
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.hero {
  padding-left: 0% !important;
  padding-right: 0% !important;
  position: relative;
}

.hero-content {
  line-height: 1.625;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0 0 0 / 0.5);
  transition: background 0.3s;
  pointer-events: none;
  mix-blend-mode: multiply;
}

@media screen {
  .parallax {
    transform: translateY(calc(var(--parallax-offset, 0) * -1%));
  }
}

@supports (animation-timeline: scroll()) {
  @keyframes yParallax {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20%);
    }
  }

  .parallax {
    animation: yParallax linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100vh;
  }
}
