<section>
  <footer
    class="footer bg-neutral-800 py-6 padding-vertical bottom-0 w-full sticky"
  >
    <div
      class="gap-x-4 md:gap-x-2 flex flex-row md:justify-between md:items-center md:w-1/4 mx-auto text-sm"
    >
      <a href="/about" class="text-neutral-200 hover:text-neutral-50">About</a>
      <a href="/privacy" class="text-neutral-200 hover:text-neutral-50"
        >Privacy</a
      >
      <a href="/terms" class="text-neutral-200 hover:text-neutral-50">Terms</a>
      <a
        href="/contact"
        class="text-neutral-200 hover:text-neutral-50 hidden md:block"
        >Contact</a
      >
      <a href="/help" class="text-neutral-200 hover:text-neutral-50">Help</a>
    </div>
  </footer>
</section>
