<section
  class="relative h-[75vh] grid grid-cols-1 lg:grid-cols-12 gap-4 items-center justify-center padding-vertical"
>
  <div
    class="landing-page flex-grow flex flex-col justify-center col-span-1 lg:col-span-8"
  >
    <h2 class="catch-phrase text-7xl xs:text-8xl md:text-9xl mb-8">
      Stories that stay. Ideas that grow.
    </h2>
    <p class="sub-p text-xl md:text-2xl mb-12">
      Where every word is a seed, and every story a garden of ideas.
    </p>
    <button routerLink="/signin" class="w-44">Start your journey</button>
    <div class="illustration-container"></div>
  </div>

  <!-- Illustration carroussel absolute -->
  <div class="hidden lg:block lg:col-span-4 h-full">
    <div class="aspect-[3/4] w-full h-auto relative overflow-hidden">
      <img
        src="assets/images/illustrations/illustration1.svg"
        alt="Illustration 1"
        class="absolute inset-0 w-full h-full object-contain opacity-0 carousel-img-1"
      />
      <img
        src="assets/images/illustrations/illustration2.svg"
        alt="Illustration 2"
        class="absolute inset-0 w-full h-full object-contain opacity-0 carousel-img-2"
      />
      <img
        src="assets/images/illustrations/illustration3.svg"
        alt="Illustration 3"
        class="absolute inset-0 w-full h-full object-contain opacity-0 carousel-img-3"
      />
      <img
        src="assets/images/illustrations/illustration4.svg"
        alt="Illustration 4"
        class="absolute inset-0 w-full h-full object-contain opacity-0 carousel-img-4"
      />
    </div>
  </div>
</section>
