<nav
  class="flex flex-row justify-between fixed items-center py-4 padding-vertical mx-auto border-b border-neutral-600 w-full z-50 bg-neutral-100"
>
  <div class="flex items-center">
    <a
      routerLink="/"
      class="flex items-center transition-colors group hover:no-underline"
    >
      <h3
        class="group-hover:text-primary-900 transition-colors duration-150 ease-in-out"
      >
        Scribere<span
          class="blinking-underscore group-hover:text-primary-900 transition-colors duration-150 ease-in-out text-3xl"
          >_</span
        >
      </h3>
    </a>
  </div>
  <div class="flex items-center space-x-4">
    <app-search-bar />
    <a routerLink="/signin" class="hidden xs:block">Sign In</a>
    <a routerLink="/about" class="hidden md:block">About</a>
    <a routerLink="/" class="btn-ghost hover:no-underline">Get Started</a>
  </div>
</nav>
