<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-8">Articles</h1>

  <div *ngIf="articles.length === 0 && !isLoading" class="text-center py-10">
    <p class="text-neutral-500">Aucun article disponible pour le moment.</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let article of articles"
      class="bg-neutral-100 rounded-lg shadow-md overflow-hidden"
    >
      <div class="aspect-video overflow-hidden rounded-t-3xl cover-wrapper">
        <img
          *ngIf="article.coverImgUrl"
          [src]="article.coverImgUrl"
          alt="{{ article.title }}"
          class="h-full w-full object-cover"
        />
      </div>

      <div class="p-6">
        <h2 class="mb-2">{{ article.title }}</h2>
        <div class="flex items-center mb-2 reading-time">
          <span *ngIf="article.readTime" class="mr-4"
            >{{ article.readTime }} min de lecture</span
          >
          <span>{{ article.createdAt | date : "dd/MM/yyyy" }}</span>
        </div>
        <div class="flex items-center mb-4 gap-2">
          <span class="author-avatar">
            <img
              src="https://placehold.co/40"
              alt="Author"
              class="rounded-full"
            />
          </span>
          <span class="author-name">Anthony Mouse</span>
        </div>
        <p class="article-content">
          {{ article.content | stripHtml }}
        </p>
        <a
          [routerLink]="['/articles', article.slug]"
          class="w-full flex justify-end"
        >
          Lire la suite →
        </a>
      </div>
    </div>
  </div>

  <!-- Loader spinner (sans Material) -->
  <div *ngIf="isLoading" class="flex justify-center py-8">
    <div
      class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-primary-500"
    ></div>
  </div>

  <!-- Bouton "Charger plus" -->
  <div *ngIf="hasMorePages && !isLoading" class="flex justify-center mt-8">
    <button (click)="loadMore()">Charger plus d'articles</button>
  </div>
</div>
